:root {
    --bleu: #99c8f2;
    --rouge: #e9724c;
    --taupe: #5e4b56;
    --jaune: #f5af00;
    --vert: #315c2b;
    --vert-clair: #D0E6D1;
}

body {
    font-family: 'American';
    margin: 0;
    background-color: var(--vert-clair);
}

main {
    margin: 25px;
}

h1 {
    text-align: center;
    color: var(--taupe);
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 40px;
}

.menu-bar {
    text-align: center;
    background-color: var(--bleu);
    padding: 10px 0;
    margin: 0;
}

.menu-bar>li {
    display: inline;
    list-style: none;
}

.menu-bar>li>a {
    color: var(--taupe);
    margin: 0 10px;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px 10px;
}

.menu-bar>li>a.actual {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-color: var(--taupe);
}

.menu-bar>li>a:hover {
    background-color: var(--taupe);
    color: var(--bleu);
}

.error {
    display: none;
    color: var(--rouge);
}

.error.enabled {
    display: block;
}

.texte-avec-image {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    margin-bottom: 20px;
}

.image-icon {
    height: 50px;
    width: auto;
}

.texte-avec-image h1,
.texte-avec-image p {
    margin: 0;
    margin-top: 10px;
    margin-left: 10px;
}